<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio4us.tamar.sneakpeek2" >

    <application
        android:name="ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sneakpeek"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="H5AVFyTBNwFX5DD7R1mTE2Syx0MVPJhAZhk4yxgz" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="doycEUOtqY5sOey3FIDUdOGffNBUMGVpM3H47KSA" />

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
